@use "sass:color";

// Descriptive colors
$picton-blue: #2f8fe9;
$white: #fff;
$black: #000;
$trout: #4b545d;

// Theme color
$theme-color: $picton-blue;

// Menu colors
$menu-colors: (
  "container-bg-color": $white,
  "header-bg-color": color.adjust($theme-color, $lightness: -12%),
  "active-menu-item": color.adjust($theme-color, $lightness: -12%)
);

// Text colors
$text-colors: (
  "copy": $trout,
  "link": color.adjust($theme-color, $lightness: -12%)
);
