@import '../config/extends';

.link-level-1 {
  @extend %link-regular;
  align-items: center;
  display: flex;
  font-weight: 600;
  padding: 8px;
}

.link-level-2 {
  @extend %link-regular;
  align-items: center;
  display: flex;
  font-size: 14px;
  padding: 6px;
}
