@import '../config/extends';

.link-level-1 {
  @extend %link-regular;
  align-items: center;
  display: flex;
  font-weight: 600;
}

.link-level-2,
.link-level-3 {
  @extend %link-regular;
  align-items: center;
  display: flex;
  font-size: 14px;
}

.content-link {
  @include links(
      $ui-color-1,
      $ui-color-1,
      lighten($ui-color-1, 10%),
      lighten($ui-color-1, 10%)
  );
}
