@import '../config/colors';

.icon-open-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
}

.icon-open-col-1 {
  flex-grow: 0;
  font-size: 30px;
  height: 40px;
}

.icon-open-col-2 {
  font-weight: bold;
  padding-left: 10px;
}
