.link-arrow {
  align-items: center;
  display: inline-flex;
  font-size: 24px;
  padding: 1px 4px 4px;
  line-height: 1;
  height: 20px;

  &.rotate-90 {
    padding-bottom: 4px;
  }
}

.rotate-90 {
  transform: rotate(90deg);
}
