.icon-close {
  display: flex;
  align-items: center;
  height: 32px;
  opacity: 0.7;
  position: absolute;
  right: 12px;
  top: 11px;
  width: 32px;

  &::before,
  &::after {
    background-color: $white;
    border-radius: 4px;
    content: " ";
    height: 20px;
    left: 15px;
    position: absolute;
    width: 3px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
