// abbreviations
// arw - arrow
// cls - close
// cta - container
// cnt - content
// hdr - header
// itm - item
// lst - list
// opn - open
// ovl - overlay
// sdb - sidebar
// wrp - wrap

body {
  color: $main-font-color;
  font-family: $font-family-1;
}

h1 {
  color: $ocm-color-dark;
  font-family: $font-family-2;
  letter-spacing: .1rem;
  margin: 0;
}

.content-link {
  &:link {
    color: $picton-blue;
  }

  &:visited {
    color: $picton-blue;
  }

  &:hover {
    color: $lochmara;
  }

  &:active {
    color: $lochmara;
  }
}

.container {
  margin: 0 auto;
  max-width: 800px;
  min-height: 93vh;
}
