@use "sass:color";

// Shades of gray
$gray: #838383;
$main-font-color: #4e565f;
$trout: #4b545d;
$white: #fff;

// Shades of black
$black: #000;

// Blue
$dodger-blue: #3090f7;
$picton-blue: #2f8fe9;

// Menu colors
$ocm-color: $dodger-blue;
$ocm-color-dark: color.adjust($ocm-color, $lightness: -12%);
$ui-color-1: $picton-blue;
