@mixin links($link, $visited, $hover, $active) {
  color: $link;
  text-decoration: none;
 
  &:visited {
    color: $visited;
  }

  &:hover {
    color: $hover;
    cursor: pointer;
    text-decoration: none;
  }

  &:active,
  &:focus {
    color: $hover;
    text-decoration: none;
  }
}

%link-regular {
  @include links($trout, $trout, $ocm-color-dark, $ocm-color-dark);
  padding: 10px;
}
