@import 'colors';
@import 'extends';
@import 'variables';

footer {
  align-items: center;
  background-color: $alabaster;
  border-top: 1px solid $athens-gray;
  display: flex;
  font-family: $font-family-2;
  font-size: .8rem;
  padding: 10px;
}

.footer-left-col {
  @extend .col-12;
  @extend .col-sm-8;
  color: $main-font-color;
  text-align: left;
}

.footer-right-col {
  @extend .col-12;
  @extend .col-sm-4;
  color: $main-font-color;
  text-align: left;
}

.footer-link {
  @include links(
                  $spun-pearl,
                  $spun-pearl,
                  $ui-color-1,
                  $ui-color-1
  );
}

.footer-menu-link {
  color: $spun-pearl;
  font-family: $font-family-2;
  font-size: .8rem;
  font-weight: 700;
  padding-left: .5rem;
  padding-right: .5rem;
  text-decoration: none;
  transition: color .5s ease-in-out;

  &:hover {
    color: $main-accent-color;
    text-decoration: none;
  }

  &:focus {
    color: $main-accent-color;
    text-decoration: none;
  }
}
