@import 'colors';
@import 'links';

.ocm-sdb-icn-cls {
  color: $white;
  font-size: 2rem;

  &:hover {
    cursor: pointer;
  }
}

.ocm-sdb-icn-opn {
  color: $gray;
  cursor: pointer;
  font-size: 2rem;
}

.ocm-icn-row {
  padding: .5rem 1rem 0;
}
